/* Base theme */
body {
	margin: 0px;
	padding: 0px;
}

a:visited {
	color: #c068a8;
}

a:hover {
	color: #ff8230;
}

a {
	color: #3366c0;
}

/* Header Section */
#TopSection {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	color: #000;
}

#TopBannerHeader {
  margin: 0px;
}

#TopBannerHeader h1{
	display: table;
	margin: auto;
}

#TopNavigation{
	margin: 0.8em 0px;
	padding: 0.3em auto;
}

#TopNavigation a {
	text-decoration: none;
}

#CorpLogo {
	height: 3em;
	border: none 0px;
	display: table-cell;
}

#CorpText {
	display: table-cell;
	color: #666;

}

#MainSection {
	margin: auto;
	color: #333;
}

#MainSection h1 {
	color: #666;
	border-bottom: 2px solid #e95513;
}

#MainSection h2 {
	font-size: 250%;
	border-left: 6px solid #e95513;
}



address ul {
	list-style: none;
}

/* Footer Section */

footer {
	margin: 8em 0px 0px 0px;
	background-color: #e95513;
}

footer a {
	color: #003;
}

footer ul {
	margin: auto;
	max-width: 800px;
	list-style-type: none;
	padding: 0px;
}

footer li {
	display: inline-block;
	margin: 2em;
	font-size: 80%;
}

ul.textline {
	marker-style: none;
	text-align: right;
}


/* Resposible */

@media screen and (min-width: 801px){
	#TopNavigation ul {
		margin: auto;
		padding: 0px;
	}

	#TopBannerHeader h1 {
		width: 800px;
	}

	#TopNavigation ul {
		width: 800px;
	}

	#MainSection {
		width: 800px;
	}

	#TopNavigation li {
		display: inline-block;
		margin: 0.5em 1em;
		padding: 1.4em;
		list-style-type: none;
		border: 2px solid #e95513;
	}
}

@media screen and (max-width: 800px){
	#TopNavigation ul {
		margin: auto 15px;
		padding: 0px;
	}

	#TopNavigation li {
		display: inline-block;
		margin: 0.25em auto;
		padding: 0.3em;
		list-style-type: none;
		border: 2px solid #e95513;
	}

	#TopBannerHeader h1 {
		max-width: 800px;
	}

	#TopNavigation ul {
		max-width: 800px;
	}

	#MainSection {
		max-width: 800px;
	}

	#CorpText {
		vertical-align: middle;
	}
}
